* {
  margin: 0;
  box-sizing: border-box;
  
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: url("/images/library.jpeg");
  color: floralwhite;
}

.container {
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  max-width: 80%;
  margin: auto;
  background-color: black;
  box-shadow:
    inset 0 -3em 3em #00c8004d,
    0 0 0 3px #f4aa0a,
    0.3em 0.3em 1em #c8000099;
}

.number-counter {
  font-size: 50px;
  padding: 20px;
  color: #f4aa0a;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

button {
  background-color: #d94350;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: #7fff00;
}

#increment-btn {
  margin-bottom: 20px;
}

.saved-el {
  color: #7fff00;
}
